#customers {
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
  
    padding: 5px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4DB7FE;
    color: white;
  }